<?xml version="1.0" encoding="UTF-8"?>
<form>
  <title>ORA Contact Form</title>
  <fields>
    <field name="name" label="Full EDIT Name" type="text" required="true"/>
    <field name="email" label="Email Address" type="email" required="true"/>
    <field name="department" label="Department" type="text" required="true"/>
    <field name="subject" label="Subject" type="text" required="true"/>
    <field name="message" label="Message" type="textarea" required="true"/>
  </fields>
</form>
